@font-face {
    font-family: 'Titillium';
    src: url('Titillium-Bold.woff2') format('woff2'),
        url('Titillium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('Titillium-SemiboldUpright.woff2') format('woff2'),
        url('Titillium-SemiboldUpright.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('Titillium-Semibold.woff2') format('woff2'),
        url('Titillium-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('Titillium-Regular.woff2') format('woff2'),
        url('Titillium-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeasideResortNF';
    src: url('SeasideResortNF.woff2') format('woff2'),
        url('SeasideResortNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

