/** FONTS **/
@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/Titillium-Bold.woff2') format('woff2'),
        url('../assets/fonts/Titillium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/Titillium-SemiboldUpright.woff2') format('woff2'),
        url('../assets/fonts/Titillium-SemiboldUpright.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/Titillium-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Titillium-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/Titillium-Regular.woff2') format('woff2'),
        url('../assets/fonts/Titillium-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeasideResortNF';
    src: url('../assets/fonts/SeasideResortNF.woff2') format('woff2'),
        url('../assets/fonts/SeasideResortNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** VARIABLES **/
:root {
    --light-green: #b1ebba;
    --dark-green: #006b11;
    --gold: #d4af37;
    --white: #ffffff;
    --light-grey: #d9d9d9;
    --border-radius-containers: 40px;
}

/** CSS RESET **/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }

  /** PROJECT STYLING **/
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(lightblue, white);
    font-family: 'Titillium';
  }

  .container {
    width: 98%;
    min-height: 98vh;
    background-color: var(--light-green);
    border-radius: var(--border-radius-containers);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    'header header'
    'sidebar main';
  }

  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius-containers) var(--border-radius-containers) 0 0;
  }

  header h1 {
    font-family: 'SeasideResortNF', sans-serif;
    color: var(--dark-green);
    font-size: 3rem;
  }

  nav {
    grid-area: sidebar;
    background-color: var(--dark-green);
    border-bottom-left-radius: var(--border-radius-containers);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
  }

  nav .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: clamp(1rem, 1.5vw, 4rem);
  }

  #number-projects {
    color: var(--gold);
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: bold;
  }

  nav .projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  nav .projects-list .project-sidebar, nav .add-project {
    background-color: var(--gold);
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-containers);
    height: auto;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    padding: 8px 0;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
  }

  nav .projects-list .project-sidebar:hover {
    background-color: var(--white);
    color: var(--gold);
  }

  nav .add-project {
    font-weight: normal;
    background-color: var(--dark-green);
    border: none;
  }

  nav .add-project:hover {
    font-weight: normal;
    background-color: var(--light-grey);
    color: #006b11;
  }

  main {
    grid-area: main;
  }